flow.json
[{"id":"67f9a36c.f4a1fc","type":"subflow","name":"Dimmer Settings","info":"","category":"","in":[{"x":400,"y":80,"wires":[{"id":"67fe2056.d8cd7"}]}],"out":[{"x":620,"y":80,"wires":[{"id":"67fe2056.d8cd7","port":0}]}],"env":[{"name":"Step","type":"num","value":"30"}],"color":"#3FADB5","icon":"node-red/cog.svg"},{"id":"67fe2056.d8cd7","type":"function","z":"67f9a36c.f4a1fc","name":"Step","func":"var x = env.get(\"Step\"); \nflow.set(\"$parent.Step\", x);\n\nmsg.payload = \"Your brightness increment has been set to: \" + x;\n\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":80,"wires":[[]]},{"id":"4555c45161f10fd2","type":"subflow","name":"WLED Presets","info":"","category":"","in":[{"x":180,"y":120,"wires":[{"id":"280e7bba296ddaf5"}]}],"out":[{"x":440,"y":120,"wires":[{"id":"280e7bba296ddaf5","port":0}]}],"env":[{"name":"Presets","type":"str","value":"3"}],"meta":{},"color":"#3FADB5","icon":"node-red-contrib-wled2/wled.png"},{"id":"280e7bba296ddaf5","type":"function","z":"4555c45161f10fd2","name":"Presets","func":"var x = env.get(\"Presets\"); \nflow.set(\"$parent.Presets\", x);\n\nmsg.payload = \"Your number of WLED presets has been set to: \" + x;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":120,"wires":[[]]},{"id":"f81b34a34e31229e","type":"tab","label":"STYRBAR WLED Control","disabled":false,"info":"# IKEA STYRBAR WLED Control\n\nFlow to recreate the original functionality of the IKEA STYRBAR Zigbee Remote to control WLED functions\n\n**Features**:\n\n-   ON|OFF toggle\n-   Brightness UP|DOWN\n-   WLED Preset PREVIOUS|NEXT\n-   Random WLED Effect\n-   Save state as preset\n\n---\n\n## Settings\n - **Step** increment brightness by X \n - **Presets** number of WLED presets in your WLED setup, increments when using the Save state as preset button.\n\n---\n\n**Author**\n[github/nvschilleman](https://github.com/nvschilleman)\n\nThis flow is based on [this project](https://notenoughtech.com/featured/ikea-tradfri-wireless-dimmer-in-nodered/)\n\n\n\n"},{"id":"406a5a5c81a85357","type":"zigbee2mqtt-in","z":"f81b34a34e31229e","name":"Zigbee button","server":"1f5b660f61c7be4a","friendly_name":"RGBKaiden","device_id":"0x842e14fffe58d941","state":"action","outputAtStartup":true,"x":170,"y":220,"wires":[["4c94dbed6fd8f45d"]]},{"id":"4c94dbed6fd8f45d","type":"switch","z":"f81b34a34e31229e","name":"Button payload","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"arrow_left_click","vt":"str"},{"t":"eq","v":"arrow_left_hold","vt":"str"},{"t":"eq","v":"arrow_right_click","vt":"str"},{"t":"eq","v":"arrow_right_hold","vt":"str"},{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"brightness_move_up","vt":"str"},{"t":"eq","v":"brightness_move_down","vt":"str"},{"t":"eq","v":"brightness_stop","vt":"str"}],"checkall":"true","repair":false,"outputs":9,"x":360,"y":360,"wires":[["22fc7cf15e89cfc4"],["edf0df15cac13cf1"],["d7ea2ca24de8d347"],["c0ce10e31fe5c4b7"],["99655ed471ed0cf0"],["cd9510ce97dd89f0"],["6873164350270bb4","72009c39c9f54ee6"],["6873164350270bb4","1efa7decd98f2d15"],["b4d0839ae217b791"]]},{"id":"cd9510ce97dd89f0","type":"function","z":"f81b34a34e31229e","name":"Turn off","func":"msg.payload = { state:\"off\"};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":420,"wires":[["4f1bef9bc202281d"]]},{"id":"4f1bef9bc202281d","type":"wled2","z":"f81b34a34e31229e","address":"192.168.3.71","brightness":"255","delay":0,"color1":"#ffffff","color2":"#ffffff","color3":"#ffffff","effect":0,"effectIntensity":128,"effectSpeed":128,"name":"WLED Node","palette":"0","preset":0,"state":"off","x":1010,"y":280,"wires":[["640d20c743a881db"]]},{"id":"c0ce10e31fe5c4b7","type":"function","z":"f81b34a34e31229e","name":"Random effect","func":"var effect = Math.floor(Math.random() * 117);\nvar effectintensity = Math.floor(Math.random() * 255);\nvar effectspeed = Math.floor(Math.random() * 255);\nvar colorpalette = Math.floor(Math.random() * 52);\n\nmsg.payload = {\"state\":\"on\",\n               \"effect\":effect,\n               \"effectIntensity\":effectintensity,\n               \"effectSpeed\":effectspeed,\n               \"palette\": colorpalette\n              };\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":340,"wires":[["4f1bef9bc202281d"]]},{"id":"640d20c743a881db","type":"debug","z":"f81b34a34e31229e","name":"Debug log","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1200,"y":40,"wires":[]},{"id":"d7ea2ca24de8d347","type":"function","z":"f81b34a34e31229e","name":"Next preset","func":"var p = flow.get(\"Presets\");\nvar cp = flow.get(\"WLED_CurrentPreset\");\nvar presets = Number(p);\nvar currentpreset = Number(cp);\n\nif(currentpreset == presets){\n    currentpreset = 0; \n    flow.set(\"WLED_CurrentPreset\", currentpreset);\n\t}\n\t\nif(currentpreset < presets){\n    currentpreset = currentpreset + 1;\n    flow.set(\"WLED_CurrentPreset\", currentpreset);\n    }\n\nmsg.payload = {\"state\":\"on\",\n               \"preset\":currentpreset};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":670,"y":300,"wires":[["4f1bef9bc202281d"]]},{"id":"d5568e2329df28c6","type":"delay","z":"f81b34a34e31229e","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"2","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"x":850,"y":151,"wires":[["d31dafaeb20c368a"]]},{"id":"d31dafaeb20c368a","type":"function","z":"f81b34a34e31229e","name":"Update","func":"\nflow.set(\"WLED_CurrentPreset\", msg.payload.pre);\nflow.set(\"WLED_CurrentBrightness\", msg.payload.bri);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":151,"wires":[["640d20c743a881db"]]},{"id":"31f3b0e7ddc0fd71","type":"inject","z":"f81b34a34e31229e","name":"Set value","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":820,"y":91,"wires":[["88402a2291788866"]]},{"id":"88402a2291788866","type":"subflow:4555c45161f10fd2","z":"f81b34a34e31229e","name":"","env":[{"name":"Presets","value":"2","type":"str"}],"x":1000,"y":91,"wires":[["640d20c743a881db"]]},{"id":"6fdd9338cd83f9ea","type":"xml","z":"f81b34a34e31229e","name":"","property":"payload","attr":"","chr":"","x":390,"y":151,"wires":[["098a7d1d12a83349"]]},{"id":"e5e1556496c40830","type":"mqtt in","z":"f81b34a34e31229e","name":"MQTT/v","topic":"wled/kaiden/v","qos":"1","datatype":"auto","broker":"7ee4ea2ad871d220","nl":false,"rap":false,"x":190,"y":151,"wires":[["6fdd9338cd83f9ea"]]},{"id":"098a7d1d12a83349","type":"change","z":"f81b34a34e31229e","name":"Current State","rules":[{"t":"move","p":"payload.vs.ps[0]","pt":"msg","to":"payload.pre","tot":"msg"},{"t":"move","p":"payload.vs.ac[0]","pt":"msg","to":"payload.bri","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":151,"wires":[["d5568e2329df28c6"]]},{"id":"22fc7cf15e89cfc4","type":"function","z":"f81b34a34e31229e","name":"Previous preset","func":"var p = flow.get(\"Presets\");\nvar cp = flow.get(\"WLED_CurrentPreset\");\nvar presets = Number(p);\nvar currentpreset = Number(cp);\n\nif(currentpreset <= 1){\n    currentpreset = presets; \n    flow.set(\"WLED_CurrentPreset\", currentpreset);\n\t}\nelse{\n    currentpreset = currentpreset - 1;\n    flow.set(\"WLED_CurrentPreset\", currentpreset);\n    }\n    \nmsg.payload = {\"state\":\"on\",\n               \"preset\":currentpreset};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":220,"wires":[["4f1bef9bc202281d"]]},{"id":"95c2b11b4d3cf9bc","type":"http request","z":"f81b34a34e31229e","name":"WLED API","method":"POST","ret":"obj","paytoqs":"ignore","url":"http://192.168.3.71/json","tls":"","persist":false,"proxy":"","authType":"","x":1010,"y":220,"wires":[["640d20c743a881db"]],"icon":"node-red-contrib-wled2/wled.png"},{"id":"edf0df15cac13cf1","type":"function","z":"f81b34a34e31229e","name":"Save state as preset","func":"var p = flow.get(\"Presets\");\nvar presets = Number(p);\nvar name = \"Preset\";\n\npreset = presets + 1;\nflow.set(\"Presets\", preset);\nflow.set(\"WLED_CurrentPreset\", preset)\n\nvar n = \"Button generated \" + preset.toString();\n\nmsg.payload = {\n    \"psave\": preset,\n    \"n\": n,\n    \"ib\": true,\n    \"sb\": true\n};\n               \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":260,"wires":[["95c2b11b4d3cf9bc"]]},{"id":"99655ed471ed0cf0","type":"function","z":"f81b34a34e31229e","name":"Turn on","func":"msg.payload = { state:\"on\"};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":380,"wires":[["4f1bef9bc202281d"]]},{"id":"72009c39c9f54ee6","type":"function","z":"f81b34a34e31229e","name":"Brightness up","func":"var step = flow.get(\"Step\");\nvar brightness =  flow.get(\"WLED_CurrentBrightness\");\n\nstep = Number(step);\nbrightness = Number(brightness);\n\nif(brightness > 0){\n    brightness = brightness + step;\n    flow.set(\"WLED_CurrentBrightness\", brightness);\n\t}\n\t\nif(brightness >= 255){\n    brightness = 254;\n    flow.set('press', false);\n    flow.set(\"WLED_CurrentBrightness\", brightness);\n    }\n\nmsg.payload = brightness;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":460,"wires":[["d514cdaf6872b621","a1564e9edf94421d"]]},{"id":"1efa7decd98f2d15","type":"function","z":"f81b34a34e31229e","name":"Brightness down","func":"var step = flow.get(\"Step\");\nvar brightness =  flow.get(\"WLED_CurrentBrightness\");\n\nstep = Number(step);\nbrightness = Number(brightness);\n\nif(brightness <= 255){\n    brightness = brightness - step; \n    flow.set(\"WLED_CurrentBrightness\", brightness);\n\t}\n\t\nif(brightness <= 0){\n    brightness = 1;\n    flow.set('press', false);\n    flow.set(\"WLED_CurrentBrightness\", brightness);\n    }\n\nmsg.payload = brightness;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":500,"wires":[["bfe45965367d10af","a1564e9edf94421d"]]},{"id":"59c005b6e7c3d2ce","type":"switch","z":"f81b34a34e31229e","name":"Control loop","property":"press","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1010,"y":500,"wires":[["1efa7decd98f2d15"]]},{"id":"b33f1b18250d5a0c","type":"switch","z":"f81b34a34e31229e","name":"Control loop","property":"press","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1010,"y":540,"wires":[["72009c39c9f54ee6"]]},{"id":"d514cdaf6872b621","type":"delay","z":"f81b34a34e31229e","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1010,"y":460,"wires":[["b33f1b18250d5a0c"]]},{"id":"bfe45965367d10af","type":"delay","z":"f81b34a34e31229e","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1010,"y":420,"wires":[["59c005b6e7c3d2ce"]]},{"id":"6873164350270bb4","type":"change","z":"f81b34a34e31229e","name":"start","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":540,"wires":[["1d5bbbb7fdd37f40"]]},{"id":"b4d0839ae217b791","type":"change","z":"f81b34a34e31229e","name":"stop","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":580,"wires":[["1d5bbbb7fdd37f40"]]},{"id":"1d5bbbb7fdd37f40","type":"change","z":"f81b34a34e31229e","name":"Control the loop","rules":[{"t":"set","p":"press","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":580,"wires":[[]]},{"id":"16c3d96db9081c5a","type":"inject","z":"f81b34a34e31229e","name":"Set step","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":820,"y":40,"wires":[["c06a4125dd2497af"]]},{"id":"c06a4125dd2497af","type":"subflow:67f9a36c.f4a1fc","z":"f81b34a34e31229e","name":"","env":[{"name":"Step","value":"25","type":"num"}],"x":1000,"y":40,"wires":[["640d20c743a881db"]]},{"id":"a1564e9edf94421d","type":"mqtt out","z":"f81b34a34e31229e","name":"WLED MQTT","topic":"wled/kaiden","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"7ee4ea2ad871d220","x":1000,"y":340,"wires":[]},{"id":"1f5b660f61c7be4a","type":"zigbee2mqtt-server","name":"Z2M","host":"localhost","mqtt_port":"1883","mqtt_username":"","mqtt_password":"","tls":"","usetls":false,"base_topic":"zigbee2mqtt"},{"id":"7ee4ea2ad871d220","type":"mqtt-broker","name":"MQTT Broker","broker":"mqtt://core-mosquitto","port":"1883","clientid":"NodeREDMQTT","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""}]